{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="text-uppercase lora">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="mb-5">Nothing in your shopping bag yet!</p>
                    <a href="{% url 'products' %}" class="discover-button btn btn-ls rounded-0 text-uppercase py-3">
                        <i class="fas fa-chevron-left text-white"></i>
                        <span class="text-uppercase">Continue Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}