{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div> -->
{% endblock %}

{% block content %}
    <div class="container-fluid home-container fade-in-text">
        <div class="row justify-content-center my-auto h-100">
            <div class="my-auto home-div">
                <div class="my-auto">
                    <div class="my-5 justify-content-center home-h1 fade-in-text text-uppercase">
                        <h1>
                            Fine and elegant 
                        </h1>
                        <h1>
                            Jewelry for everyday
                        </h1>
                        <a href="" class="discover-button btn btn-ls rounded-0 text-uppercase py-3">Discover Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}