{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container profile-container mb-5">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="lora text-uppercase">Add Extra Delivery Address</h2>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <form class="mt-3 profile-update-form" action="{% url 'add_new_address' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="discover-button btn btn-ls rounded-0 text-uppercase">Add Address</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}