html {
    height: 100%;
    font-family: 'Cardo', sans-serif;
    background-color: #fafaf9;
}

/* navbar */

.fas,
.far {
    color: black;
}

.search-bar {
    margin-top: 5px;
}

.search-input {
    border: 0;
    background: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    max-width: 12rem;
    font-family: 'Cardo';
    padding: 2px 0 0 0;
    font-size: 14px;

}

.search-icon {
    border: 0 transparent;
    background: transparent;
    padding: 0;
}

.nav-text {
    font-size: 10px;
    color: #c98d26;
    font-weight: 600;
}

.nav-link { 
    padding: 0.4rem 0.4rem 0rem 0.4rem;
}

#navbar-1 {
    height: 50px;
    background-color: #fafaf9;
}

#navbar-2 {
    background-color: rgb(241, 239, 235);
    height: 130px;
}

.logo-link {
    width: fit-content;
    padding-bottom: 10px;
}

#logo-col {
    margin-left: 12rem;
}

#logo {
    font-family: 'Lora', sans-serif;
    font-size: 3rem;
    color: #c98d26;
}

#nav2-links-col {
    font-family: 'Cardo', sans-serif;
    letter-spacing: 0.6px;
}

div#nav2-links-col li.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

/* home */

.home-container {
    background: url('/media/home-img1.png') no-repeat center center fixed;
    background-size: cover;

    height: 100vh;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
        padding-top: 134px;
    }
  }