html {
    height: 100%;
}

body {
    font-family: 'Cardo', sans-serif;
    background-color: #fafaf9;
}

a,
a:not([href]) {
    color: black;
}

.lora {
    font-family: 'Lora', sans-serif;
}


/*----------------------------navbar */

#logo,
.btn-black {
    color: #ad7006;
}

/* navbar 1 */

.fas,
.far {
    color: black;
}

.search-bar {
    margin-top: 5px;
}

.search-bar-mobile {
    min-width: 60vw;
}

#inputId {
    min-width: 45vw;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(9 6 6);
}

.search-input {
    border: 0;
    background: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    max-width: 12rem;
    font-family: 'Cardo';
    padding: 2px 0 0 0;
    font-size: 14px;
}

.search-icon {
    border: 0 transparent;
    background: transparent;
    padding: 0;
}

.nav-text {
    font-size: 11px;
    font-weight: 600;
    color: #9b6507;
    font-family: 'Lora';
}

.nav-link { 
    padding: 0.4rem 0.4rem 0rem 0.4rem;
}

.navbar-1 {
    height: 50px;
}

.navbar-1,
.search-dropdown {
    background-color: #fafaf9
}

.profile-dropdown-menu {
    min-width: 5rem;
    transform: translate3d(-50px, 45px, 0px);
    font-family: 'Lora', sans-serif;
    font-size: 0.88rem;
}

/* navbar 2 */

#navbar-2 {
    background-color: rgb(241, 239, 235);
    height: 130px;
    padding: 0;
}

.logo-link {
    width: fit-content;
    padding-bottom: 10px;
}

#logo {
    font-family: 'Lora', sans-serif;
    font-size: 3rem;
}

#nav2-links {
    font-family: 'Cardo', sans-serif;
    letter-spacing: 0.6px;
}

div#nav2-links a.nav-link {
    margin-right: 1.5rem;
}

.navbar-collapse {
    background-color: rgb(241, 239, 235);
}

.navbar-light .navbar-toggler {
    margin-right: 5px;
}

.navbar-nav .dropdown-menu {
    text-align: center;
    background-color: rgb(241, 239, 235);
    font-size: 0.87rem;
}

/* h1 & Button on home page */

div.home-h1 .h1, h1 {
    letter-spacing: 0.6px;
}

.discover-button {
    background: black;
    min-width: 260px;
    margin-top: 1rem;
    color: rgb(219 203 190);
    letter-spacing: 1px;
}

.btn-black {
    background: black;
}

.discover-button:hover,
.discover-button:active,
.discover-button:focus,
.discover-black:hover,
.discover-black:active,
.discover-black:focus {
    background: #222;
    color: white;
}

.home-h1 {
    font-size: 2rem;
    color: black;
    text-align: center;
}

div.home-h1 .h1, h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.home-div {
    padding-top: 7rem;
}

/* Code credit https://blog.hubspot.com/website/css-fade-in */
.fade-in-text {
    display: inline-block;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
/*------------------------- home */

.home-container {
    background: 
    linear-gradient(rgb(61 59 59 / 40%), rgb(199 185 185 / 40%)),
    url('/media/home-img.png'),
    no-repeat center center fixed;
    background-size: cover;

    height: 100vh;
}

/*----------------------- Product templates */

.product-name {
    font-size: 0.8rem;
}

.product-details-name {
    font-size: 1.5rem;
}

.card {
    background-color: #fafaf9;
}

/* Sort selector */

select {
    word-wrap: normal;
    border: transparent;
    border-bottom: 1px black solid;
    background-color: #fafaf9;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }

      .header-container {
        padding-top: 175px;
    }

    .home-div {
        padding-top: 10rem;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 190px;
    }

    /* body {
        height: calc(100vh - 190px);
    } */
}

@media (min-width: 1162px) {
    #logo-col {
        margin-left: 12rem;
    }
  } 

@media (max-width: 340px) {
    #inputId {
        min-width: 60vw;
    }

    #logo {
        font-size: 2.5rem;
    }
  } 

@media (max-width: 400px) {
    div.home-h1 .h1, h1 {
    font-size: 1.3rem;
    }

    .navbar-nav .dropdown-menu {
        font-size: 0.75rem;
    }
}
