<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav my-auto w-auto mx-auto text-center text-lg-right text-uppercase text-dark"
        id="nav2-links">
        <li class="nav-item dropdown">
            <a class="text-black nav-link" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?category=necklaces" class="text-black nav-link">Necklaces</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?category=bracelets" class="text-black nav-link">Bracelets</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?category=earrings" class="text-black nav-link">Earrings</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?category=rings" class="text-black nav-link">Rings</a>
        </li>
    </ul>
</div>