{% extends "base.html" %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container profile-container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-5 mt-5 mb-5">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}