{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static  'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/c923bd6760.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <link rel="icon" href="../media/favicon.ico" />
    <title>goldish. {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <!-- Navbar 1 -->
        <div class="row d-none d-lg-flex navbar-1">
            <div class="col-3 py-1 py-lg-0 search-bar">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input class="form-control search-input rounded-0" type="text" name="q"
                            placeholder="What are you looking for?">
                        <div class="input-group-append">
                            <button class="form-control search-icon" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-9 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-auto">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg nav-icon"></i></div>
                                <p class="nav-text">
                                    Profile
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0 profile-dropdown-menu" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link {% if grand_total %} gold-color {% endif %}" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="price-cart my-0 nav-text">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Navbar 1 -->
        <!-- Navbar 1 Mobile -->
        <div class="row navbar-1 d-lg-none justify-content-end">
            {% include 'includes/mobile-nav.html' %}
        </div>
        <!-- Navbar 1 Mobile -->
        <!-- Navbar 2-->
        <!-- Credit Navbar Bootstrap -->
        <nav id="navbar-2" class="row navbar navbar-expand-lg pt-lg-2 d-lg-flex navbar-light text-dark">
            <div class="col-4 my-auto text-center" id="logo-col">
                <a href="{% url 'home' %}" class="nav-link logo-link">
                    <h2 class="my-0" id="logo"><strong>goldish.</strong></h2>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/navbar-2.html' %}
        </nav>
        <!-- Navbar 2-->
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>
<!-- Footer -->
<footer class="text-center text-lg-start">
    <!-- Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div>
            <a href="" class="ml-4 mr-md-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="ml-4 mr-md-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="ml-4 mr-md-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="ml-4 mr-md-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="ml-4 mr-md-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
    <!-- Social media -->

    <!-- Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>
                        <strong>goldish</strong>
                    </h6>
                    <p>
                        Handmade with love. Quality gold plated jewelry for everyday use.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Necklaces</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Bracelets</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Earrings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Rings</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> London, EN 10012, UK</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@goldish.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 44 000 000 88</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://www.linkedin.com/in/kristinabog/">Kristina Bogdanovic</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</html>