.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  max-width: 540px;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

#payment-form div.form-group .form-control{
    max-width: 540px;
    border-radius: 0;
    border: 1px solid black;
}

.checkout-total-col {
    background-color: rgb(241, 239, 235);
}

.checkout-succes-container {
  min-height: 70vh;
}

.order-number-row {
  margin-bottom: 0px;
}

.order-nr-title {
  margin-bottom: 0;
}

@media (max-width: 300px) {
  .order-number{
    font-size: 13px;
  }

  .order-nr-title {
    margin-bottom: 15px;
  }

  .back-to-shop-btn .discover-button {
    max-width: 260px
  }
}