{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="lora text-uppercase">Product Management</h2>
                <hr class="mb-4">
                <h5 class="text-muted text-uppercase mb-4">Edit Product</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-5 add-product-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div>
                        <a class="btn btn-ls border border-dark text-uppercase rounded-0 mt-3" href="{% url 'products' %}">Cancel</a>
                        <button class="discover-button btn btn-ls rounded-0 text-uppercase" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}