{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid home-container">
        <div class="row justify-content-center my-auto h-100">
            <div class="my-auto home-div">
                <div class="my-auto">
                    {{ products }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}