{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-lg-4">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-4 my-md-5 text-center">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="lora product-details-name">{{ product.name }}</h2>
                <p class="mb-0 text-left">
                    <strong class="pr-1">
                        € {{ product.price }}
                    </strong>
                    per piece
                </p>
                <form class="form mt-4" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="m-1 mt-3 text-uppercase lora qty-text">Quantity</p>
                            <div class="form-group qty-select">
                                <div class="input-group input-group-{{ item.item_id }}">
                                    <input class="form-control qty_input id_qty_{{ item.item_id }}" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ item.item_id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ item.item_id }}"
                                            data-item_id="{{ product.id }}" data-size="{{ item.size }}">
                                            <i class="fas fa-minus minus-ic"></i>
                                        </button>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ item.item_id }}"
                                        data-item_id="{{ item.item_id }}">
                                            <i class="fas fa-plus plus-ic"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <input type="submit" class="discover-button add-btn btn rounded-0 text-uppercase py-2 m-0"
                                value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <p class="mt-5 mb-5">
                    ★ Free shipping over € 60<br>
                    ★ High quality gold plated
                </p>
                <hr>
                <p class="mb-4">{{ product.description }}</p>
                <hr>
                <a href="{% url 'products' %}" class="btn btn-sm rounded-0 text-uppercase py-3">
                    <i class="fas fa-chevron-left"></i>
                    <span class="text-uppercase">Back</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}